            <tr>
                <td>
                    <p style="font-weight:500">Kind regards,</p> <p style="font-weight:500">${sender} support team</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="caption">If you did not request this email, please discard.</p>
                </td>
            </tr>
        </table>
    </body>
</html>
