<!DOCTYPE html>
<html>
    <head>
        <title><%= subject %></title>

        <style type="text/css">
            * {
                font-family: Roboto, "Helvetica Neue";
            }

            html {
                background-color: #eee;
            }

            table {
                background-color: #fafafa;
                border-collapse: collapse;
                border-width: 1px 1px 2px 1px;
                border-color: #ccc;
                border-style: solid;
                margin: 2em auto;
                width: 600px;
            }

            td, tr {
                margin: 0;
            }

            td {
                padding: 1em;
            }

            p {
                padding: 0;
                margin: 0;
                font-size: 14px;
            }

            a {
                color: #673ab7;
            }

            a.btn {
                color: #fff;
                display: inline-block;
                border: 0px;
                border-radius: 2px;
                height: 36px;
                padding: 0 26px;
                margin: 6px 0;
                font-size: 14px;
                font-weight: 500;
                line-height: 36px;
                text-transform: uppercase;
                text-decoration: none;
                background-color: #673ab7;
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
            }

            a.btn:hover {
                background-color: #8565c3;
                box-shadow: none;
            }

            .centered {
                text-align: center;
            }

            .caption {
                font-size: 10px;
            }
        </style>
    </head>
    <body>
        <table>
            <tr style="background-color:#673ab7;">
                <td class="centered" style="padding:3em;">
                    <h1>Email header</h1>
                </td>
            </tr>
